{% load static i18n flatpages %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    <!-- Bootstrap core CSS -->
        <link href="{% static '/static/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
        <link href="{% static '/static/css/sticky-footer-navbar.css' %}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <!-- Begin header content -->
    {% block head %}
        {% include 'header.html' %}
    {% endblock %}


    <!-- Begin page content -->
    <div class="container">
      <p class="lead">
          {% block content %}
          {% endblock %}
      </p>
    </div>

    <!-- Begin footer content -->
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block js %}
        <script src="{% static '/static/js/jquery.min.js' %}"></script>
        <script src="{% static '/static/js/bootstrap.min.js' %}"></script>
    {% endblock %}
  </body>
</html>
