{% load i18n %}

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'main' %}">Microsocial</a>
    </div>

        <form action="{% url 'set_language' %}" method="post">
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <input id="set_lang_code" name="language" type="hidden" value="">
        </form>

    <div class="collapse navbar-collapse">
      {% if user.is_authenticated %}
          <ul class="nav navbar-nav">
                <li><a href="#">{% trans 'новости'|capfirst %}</a></li>
                <li><a href="{% url 'user_profile' user.pk %}">{% trans 'мой профиль'|capfirst %}</a></li>
                <li><a href="{% url 'user_friends' %}">{% trans 'друзья'|capfirst %}</a></li>
                <li><a href="#">{% trans 'сообщения'|capfirst %}</a></li>
                <li><a href="#">{% trans 'поиск людей'|capfirst %}</a></li>
          </ul>
      {% endif %}

      <ul class="nav navbar-nav navbar-right">

        {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <li><a href="#" title="{{ language.name_local }}"
                   {% if language.code == LANGUAGE_CODE %}style="font-weight: bold;"{% endif %}
                   onclick="$('#set_lang_code').val('{{ language.code }}').closest('form').submit(); return false;">
                    {{ language.code }}</a></li>
            {% endfor %}

            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">{% trans 'выход'|capfirst %}</a></li>
            {% endif %}

      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
